// styles
main#main {
  width: 100%;
  display: block;
  position: relative;
  padding: 100px 80px 0 80px;
}
html, body {
  font-family: $custom;
  color: $black;
}
.text-format {
  font-size: 1.05em;
  line-height: 1.4;



  ul {
    li {
      list-style: initial;
      margin-left: 20px;
      padding-left: 10px;
      strong {
        color: $blue;
      }
    }
  }
}

// responsive
@media #{$small-and-down} {
  main#main {
    padding: 80px 20px 0 20px;
  }
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
