// styles
.background {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1;

  .cover {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }
}
.section-document {
  .section-inner {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px 0;

    &:after {
      content: " ";
      display: block;
    }
    .case {
      width: 50%;
      display: block;
      float: left;
      border: 10px solid white;
      cursor: pointer;

      .content {
        text-align: center;
        padding: 10px;
        h3 {
          font-size: 2em;
        }
      }

      .background {
        width: 100%;
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .cover {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
.section-chapter {
  .section-inner {
    width: 100%;
    padding: 20px 40px;
    &:after {
      content: " ";
      display: block;
      position: relative;
      clear: both;
    }
    .title {
      font-size: 2.5em;
      color: $blue;
      width: 33.33%;
      float: left;
      text-align: right;
      padding-right: 20px;
    }
    .content {
      width: 66.66%;
      float: right;

      .body {
        font-weight: lighter;
        margin-bottom: 40px;
      }
      .principal {
        margin-bottom: 80px;
      }
      .axe {
        font-weight: bolder;
      }
      .example {
        color: $blue;
        font-weight: bolder;
      }
      .conclusion {
        font-style: italic;
      }
    }
  }
}
.section-introduction {
  padding: 40px;
  display: block;
  width: 100%;
  position: relative;

  h1 {
    font-size: 2em;
    text-align: left;
    padding: 5px 0;
    color: $blue;
    border-bottom: 2px solid $blue;
    display: inline-block;
    margin-bottom: 20px;
  }

  .section-inner {
    .body {
      font-size: 2.5em;
    }
  }
}
.section-candidates {
  margin-top: 20px;
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: relative;
    width: 100%;
    clear: both;
  }

  .section-inner {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: block;

    .candidate {
      width: 25%;
      padding: 0 10px;
      float: left;

      .inner {
        width: 100%;
        @include aspect-ratio(800,1000);
        top: 0;
        left: 0;
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        z-index: 2;

        .content {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
          z-index: 2;

          .title {
            position: absolute;
            bottom: 0;
            margin: 20px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            padding: 10px 0;
            color: white;
            display: inline-block;
            font-size: 1.5em;
            border-bottom: 4px solid $blue;
          }
        }
      }
    }
  }
}
.section-page {
  margin-bottom: 80px;
  .section-inner {
    .col {
      padding: 0;
    }
    .col-image {
      @include aspect-ratio(800, 1000);
      border-radius: 10px;
      overflow: hidden;
    }
    .col-content {
      padding: 0 40px;
      video {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;
      }
      h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
      }
      .body {
        margin-bottom: 20px;
        font-weight: lighter;
      }
      .citation {
        color: $blue;
        font-weight: bolder;
      }
      .character {
        font-weight: bolder;
      }
    }
  }
}
.section-banner {
  width: 100%;
  height: auto;
  @include aspect-ratio(800, 400);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.25);

  .section-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));

    .col {
      height: 100%;
      display: table-cell;
      vertical-align: bottom;
      float: none;
      color: white;
      padding: 40px;

      &.col-files {
        .files {
          .item {
            padding: 10px;
            border: 1px solid white;
            border-radius: 10px;
            font-size: 1.15em;
            margin-bottom: 10px;
            i {
              font-size: 1.25em;
              font-size: inherit;
              color: $blue;
              padding-right: 5px;
            }
            &:hover {
              background: white;
              color: $black;
            }
          }
        }
      }

      h1 {
        font-size: 2.5em;
        line-height: 1.4;
        display: inline-block;
        padding-top: 20px;
      }
      .body {
        width: 50%;
        border-top: 4px solid $blue;
        padding-top: 20px;
      }
      span {
        border-bottom: 4px solid $blue;
        color: white;
      }
      i {
        font-size: 0.75em;
        color: $blue;
      }
    }
  }
}
// responsive
@media #{$small-and-down} {
  .section-document {
    .section-inner {
      width: calc(100% + 20px);
      margin-left: -10px;
      padding: 10px 0;

      &:after {
        content: " ";
        display: block;
      }
      .case {
        width: 100%;
        display: block;
        float: left;
        border: 10px solid white;
        cursor: pointer;

        .content {
          text-align: center;
          padding: 10px 0 0 0;
          h3 {
            font-size: 2em;
          }
        }

        .background {
          width: 100%;
          display: block;
          position: relative;
          border-radius: 10px;
          overflow: hidden;

          .cover {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
  .section-page {
    margin-bottom: 80px;
    .section-inner {
      .col {
        padding: 0;
      }
      .col-image {
        @include aspect-ratio(800, 1000);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
      }
      .col-content {
        padding: 0;

        h1 {
          font-size: 2.5em;
          margin-bottom: 20px;
        }
        .body {
          margin-bottom: 20px;
          font-weight: lighter;
        }
        .citation {
          color: $blue;
          font-weight: bolder;
        }
        .character {
          font-weight: bolder;
        }
      }
    }
  }
  .section-chapter {
    .section-inner {
      width: 100%;
      padding: 0 !important;
      .title {
        font-size: 1.25em !important;
        color: $blue;
        width: 100% !important;
        float: left;
        text-align: left;
        padding-right: 0;
      }
      .content {
        width: 100%;
        float: right;

        .body {
          font-weight: lighter;
          margin-bottom: 40px;
        }
        .principal {
          margin-bottom: 80px;
        }
        .axe {
          font-weight: bolder;
        }
        .example {
          color: $blue;
          font-weight: bolder;
        }
        .conclusion {
          font-style: italic;
        }
      }
    }
  }
  .section-introduction {
    padding: 20px !important;
    display: block;
    width: 100%;
    position: relative;

    h1 {
      text-align: center !important;
    }

    .section-inner {
      .body {
        font-size: 1.25em;
      }
    }
  }
  .section-candidates {
    margin-top: 20px;
    position: relative;

    .section-inner {
      width: calc(100% + 20px);
      margin-left: -10px;
      display: block;

      .candidate {
        width: 100%;
        padding: 10px;
        float: left;

        .inner {
          width: 100%;
          @include aspect-ratio(800,1000);
          top: 0;
          left: 0;
          display: block;
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          z-index: 2;

          .content {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
            z-index: 2;

            .title {
              position: absolute;
              bottom: 0;
              margin: 20px;
              writing-mode: vertical-rl;
              text-orientation: mixed;
              padding: 10px 0;
              color: white;
              display: inline-block;
              font-size: 1.5em;
              border-bottom: 4px solid $blue;
            }
          }
        }
      }
    }
  }
  .section-banner {
    background: $black;

    &:before {
      padding-top: 0 !important;
    }
    .background {
      position: relative !important;
    }

    .section-inner {
      position: relative !important;
      .col {
        height: 100%;
        display: table-cell;
        vertical-align: bottom;
        float: none;
        color: white;
        padding: 20px !important;

        &.col-files {
          .files {
            .item {
              padding: 10px;
              border: 1px solid white;
              border-radius: 10px;
              font-size: 1.15em;
              margin-bottom: 10px;
              i {
                font-size: 1.25em;
                font-size: inherit;
                color: $blue;
                padding-right: 5px;
              }
              &:hover {
                background: white;
                color: $black;
              }
            }
          }
        }
        h1 {
          font-size: 1.15em !important;
          line-height: 1.4;
          display: inline-block;
          padding-top: 20px;
        }
        .body {
          width: 50%;
          border-top: 4px solid $blue;
          padding-top: 20px;
        }
        span {
          border-bottom: 4px solid $blue;
          color: white;
        }
        i {
          font-size: 0.75em;
          color: $blue;
        }
      }
    }
  }
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
